{%extends "base.html"%}

{%block title%}
    Homepage
{%endblock%}
{%block content%}
    {%if messages%}
        {% for message in messages%}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {%endfor%}
    {%endif%}
{%endblock%}





<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"    
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"    
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,  minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomePage</title>
</head>
<body> -->
<!--نوشته بودیم برای نشون دادن پیام موفقیت را در اینجا پیست کرد UserRegister.html مون ولی نمی‌دونم چرا هوتن فکر کرد به هوم‌پیج ریدایرکت کردیم و برای همین اومد اون قسمتی که در فایل register_view مون ریدایرکت کردیم به تست توی ویوی views.py ما توی فایل -->
<!-- {%if messages%}   مثلا خط 62 و 67 ست کردیم و شرط ایجادشون رو نوشتیم views.py یعنی اگه مسیجی وجود داشت منظور از مسیج هم همان‌هایی هست که در فایل -->
    <!-- {% for message in messages%} کلا چیزایی که حالت دستوری دارن رو با آکولاد و علامت درصد می‌نویسیم اگه چیزی رو می‌خواستیم نمایش بدیم با دو تا آکولاد -->
        <!-- <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}  اون مسیج رو نمایش بده -->
            <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {%endfor%}
{%endif%}

Hello this is Home Page!
<br>
{{welcome_title}} -->
<!--<input type="date" class="form-control">-->
<!-- </body>
</html> -->