{%extends "base.html"%}

{%block title%}
    Create Post
{%endblock%}
{%block content%}
    <form method="POST">  <!--چون اینجا اتریبیوت اکشن رو ننوشتیم اون دکمه باتن ته این المنت فرم رو که بزنیم به همین یوآرال‌ایی که توشیم ارسال میشه فرممون ول با متد پست این دفعه-->
        {% csrf_token %}  <!--برای دلایل امنیتی که چون داریم از فرانتمون بهش ریکوئست می‌زنیم به مشکل نخوره-->

        {% for field in form %}
        <div class="form-group">
            <label for="{{field.id_for_label}}"> {{field.label}}</label> <!--کلا وقتی می‌خواهید دسترسی داشته باشید به چیزی که از سمت بک داره ارسال میشه به یک المنت خص، باید دو تا آکولاد باز کنید و اون چیزی که می‌خواهید از بک بگیرید را اون وسط بنویسید. ولی اگه قراره یک عملیاتی را انجام دهید  مثلا مثل خط 25 که داریم توکن را ارسال می‌کنیم  باید یک آکولاد و درصد باز کنید و بعد عملیاتی که مدنظرتون هست را بنویسید. بهش میگن جنگو تمپلیت چون اجازه میده بهتون وسط فایل اچ تی ام ال پایتون کد بزنید و مثلا هر دستور ایف یا حلقه فور که می‌نویسید تهش هم باید یدونه اند ایف یا اند فور هم بنویسید-->
            {{field}}
            {% if field.errors %}   <!--ارورهای مربوط به هرکدام از فیلدهاست که اینجا داریم می‌گیم اگه هرکدام از فیلدها اروری داشتن، بهمون پایین اون فیلد نشون بده-->
            <div class="text-danger">
                {% for error in field.errors %}
                    <p>{{ error }}</p>  <!-- Display each error -->
                {% endfor %}
            </div>
            {% endif %}
        </div>

        {%endfor%}
         <br>
         <br>
        <button type="submit" class="btn btn-primary">Create</button>

    </form>
{%endblock%}